* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  scroll-behavior: smooth;
}

/* Root / Custom Colors */
:root {
  --header-blue: #0a66c2;
  --header-search-bg: #0aa7e06b;
  --global-white: #fff;
  --header-btn-yellow: #ffc624;
  --banner-ad-bg: #75be17;
  --global-black: #303336;
  --notify-badge: #ec4339;

  /* Create Post icons bg colors */
  --photo-vid-clr: #43b3dbef;
  --document-clr: #97db3f;
  --article-clr: #8b5bdc;
  --event-clr: #f0c03e;
}

/* Header */
.wrapper {
  width: 100%;
  height: 60px;
  background-color: var(--header-blue);
}

body {
  background-color: rgba(190, 190, 190, 0.103);
}

.center {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  padding: 0 70px;
  max-width: 920px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100%;
}

.wrapper {
  position: sticky;
  top: 0;
  z-index: 5;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.wrapper header {
  width: 100%;
  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  gap: 10px;
  background-color: var(--header-blue);
  gap: 50px;
}

.left {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  flex: 1;
  width: 100%;
}

.left .logo h3 a {
  font-size: 24px;
  color: var(--global-white);
}

.left .searchbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  width: 720px;
  max-width: 730px;
  height: 35px;
  border-radius: 4px;
  padding: 3px 15px;
  background-color: var(--header-search-bg);
}

.searchbox .search_icon {
  color: var(--global-white);
  opacity: 1;
}

.searchbox #search_input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 5px 5px;
  color: var(--global-white);
  font-size: 15px;
}

#search_input::placeholder {
  color: var(--global-white);
  font-size: 15px;
  opacity: 0.8;
}

#search_input::-webkit-search-cancel-button {
  display: none;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.right button {
  border: 0;
  outline: 0;
  height: 30px;
  width: 30px;
  color: var(--global-white);
  background-color: transparent;
}

.right button .bell_icon,
.right button .menu_icon {
  font-size: 20px;
  color: rgba(255, 255, 255, 0.884);
}

.right button .menu_icon {
  border: 1.8px solid rgba(255, 255, 255, 0.493);
  padding: 3px 5px;
  border-radius: 2px;
}

.right a img {
  height: 30px;
  width: 30px;
  object-fit: contain;
  object-position: center;
}

.right button:hover,
.right a img:hover {
  cursor: pointer;
}

._btn {
  padding: 9px 15px;
  background-color: var(--header-btn-yellow);
  color: var(--global-black);
  font-size: 12px;
  font-weight: 650;
  border-radius: 3px;
}

._btn:hover {
  background-color: #fac534;
}

/* TABS */

.tabs_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--global-white);
}

.bottom_tabs_wrapper {
  display: none;
}

.tabs_wrapper .tabs {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  gap: 30px;
  height: 100%;
  max-width: 80%;
}

.tabs a {
  color: var(--global-black);
  display: flex;
  align-items: center;
  justify-content: center;
  border-width: 100%;
  width: 100%;
  position: relative;
  padding-bottom: 15px;
  font-size: 14px;
  font-weight: 550;
}

.tabs a:hover {
  color: var(--header-blue);
  transition: all 0.2s linear;
}

.tabs a.active {
  border-bottom: 3px solid var(--header-blue);
  padding-bottom: 15px;
  color: var(--header-blue);
  font-weight: 600;
}

.tabs a i {
  margin-right: 10px;
}

/* BANNER */
.banner_wrapper {
  width: 100%;
}

.banner_ad {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin: 25px 0;
  padding: 10px 12px;
  background-color: var(--banner-ad-bg);
  color: white;
  font-weight: 400;
  font-size: 14px;
  border-radius: 4px;
}

.banner_ad p {
  font-size: 13px;
}

.banner_ad p .banner_bold {
  font-weight: 600;
}

.banner_ad .ad {
  text-transform: uppercase;
  color: var(--global-black);
  font-weight: 650;
  font-size: 12px;
}

.banner_ad .ad .dots {
  color: rgba(228, 228, 228, 0.911);
}

/* MAIN CARD */
.grid {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  margin-top: 20px;
}

/* LEFT CARD */
.left_user_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  overflow: hidden;
  /* z-index: 1; */
  top: 80px;
  width: 33%;
  max-width: 30%;
  position: sticky;
}

/* Right Widget */
.right_widget_card {
  width: 38%;
  top: 80px;
  max-width: 23%;
  position: sticky;
}

.right_widget_card .user_card {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  width: 100%;
  padding: 10px 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.right_widget_hd {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 15px;
  margin-top: 10px;
}

.right_widget_hd p {
  font-size: 15px;
  font-weight: 550;
}

.right_widget_card .widget_users {
  width: 100%;
}

.widget_users .widget_user {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 10px;
  border-radius: 5px;
}

.widget_user:hover {
  cursor: pointer;
  background-color: rgba(221, 221, 221, 0.377);
}

.widget_user img {
  height: 30px;
  width: 30px;
  object-position: center;
  object-fit: contain;
  border-radius: 50%;
  margin-right: 10px;
}

.widget_user .widget_user_info p {
  font-size: 14px;
}

.widget_user_info .role {
  font-size: 6px;
  color: gray;
}

.widget_user_info .other_user {
  font-size: 16px;
  font-weight: 550;
}

.user_card {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: var(--global-white);
  border-radius: 7px;
  overflow: hidden;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.user_card .bg {
  background-color: dodgerblue;
  height: 90px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.user_card_content {
  top: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.user_card_content img {
  margin-top: -40px;
  border-radius: 50px;
  border: 3px solid white;
  padding: 2px;
  background-color: rgba(238, 237, 237, 0.986);
  height: 70px;
  width: 70px;
  object-fit: contain;
  object-position: center;
}

.user_card_content h4 {
  font-weight: 550;
  margin: 7px 0;
  color: var(--global-black);
  font-size: 14px;
}

.user_card_content p {
  font-size: 14px;
}

.follows {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  margin: 10px;
}

.follows .prof_view,
.posts {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.follows .prof_view h4,
.follows .posts h4 {
  font-weight: 550;
  color: var(--global-black);
  opacity: 0.7;
}

.follows .prof_view p,
.follows .posts p {
  font-size: 12.5px;
  color: #a8a8a8;
  font-weight: 500;
}

.exclusive {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 15px 30px;
  gap: 10px;
  background-color: rgba(247, 247, 75, 0.322);
  border-radius: 5px;
  margin-top: 20px;
}

.exclusive p {
  font-size: 12px;
  color: var(--global-black);
  font-weight: 530;
}

/* Recents */
.recent,
.groups {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  background-color: #fff;
  border-radius: 7px;
  padding: 10px 15px;
}

.recent p {
  font-size: 15px;
  margin: 15px 0;
  font-weight: 600;
  color: var(--global-black);
}

.recent ul li {
  padding: 7px 0;
  font-size: 13px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.recent ul li i {
  margin-right: 20px;
  color: var(--global-black);
  font-weight: 560;
}

.recent ul li:last-child {
  color: var(--header-blue);
}

/* MIDDLE CARD */
.middle_card {
  width: 70%;
  padding: 5px 0;
  overflow-y: scroll;
}

.middle_card::-webkit-scrollbar {
  display: none;
}

.main_post {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.middle_card .post_header {
  padding: 0 8px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.post_hd {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;
  padding: 10px 8px;
}

.post_hd img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.post_input_box {
  width: 100%;
  height: 100%;
  border: 2px solid rgba(202, 221, 240, 0.644);
  border-radius: 5px;
  overflow: hidden;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--header-blue);
}

.post_input_box input {
  height: 100%;
  width: 96%;
  padding: 10px;
  border: 0;
  outline: 0;
  font-size: 14px;
}

.post_input_box input::placeholder {
  font-weight: 600;
  color: var(--header-blue);
}

.post_input_box input .post_input_box .edit_icon {
  color: var(--header-blue);
}

.post_header_btns {
  width: 100%;
  padding: 3px 85px;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 20px;
}

.post_header_btns button {
  padding: 9px 15px;
  border: 0;
  outline: 0;
  background-color: transparent;
}

.post_header_btns button:hover {
  cursor: pointer;
}

.post_header_btns button i {
  margin-right: 8px;
}

.post_header_btns button:nth-child(1) {
  color: var(--photo-vid-clr);
}

.post_header_btns button:nth-child(2) {
  color: var(--document-clr);
}

.post_header_btns button:nth-child(3) {
  color: var(--article-clr);
}

.post_header_btns button:nth-child(4) {
  color: var(--event-clr);
}

/* POST MODAL BOX */
.modal_container {
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 0 20px;
  display: none;
}

.modal {
  display: flex;
  justify-content: flex-start;
  margin: 100px auto;
  background-color: var(--global-white);
  width: 570px;
  border-radius: 8px;
  max-width: 100%;
  overflow: hidden;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post_form {
  width: 100%;
}

.post_form .form_hd {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid rgba(19, 19, 19, 0.185);
  padding: 0 20px;
}

.form_hd h3 {
  font-size: 24px;
  font-weight: 540;
  color: rgba(22, 22, 22, 0.685);
}

.form_hd #close {
  border: 0;
  outline: 0;
  background-color: transparent;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  color: rgba(0, 0, 0, 0.61);
}

.form_content {
  padding: 15px 20px;
  display: block;
  background-color: var(--global-white);
}

.form_content .user_info {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
  margin-bottom: 10px;
}

.user_info img {
  height: 50px;
  width: 50px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  border: 2px solid dodgerblue;
  padding: 3px;
}

.user_name h4 {
  font-size: 15px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.712);
}

.user_name select {
  border-radius: 15px;
  padding: 4px 10px;
  text-align: left;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

select option {
  padding: 10px;
  font-size: 14px;
  border-radius: 5px;
}

.textarea_wrapper {
  width: 100%;
  position: relative;
}

.post_textbox {
  width: 100%;
  border-radius: 5px;
  overflow: hidden;
  margin: 10px 0;
}

.post_textbox textarea {
  width: 100%;
  border: 0;
  outline: 0;
  font-size: 16px;
  color: var(--global-black);
  background-color: transparent;
  max-width: 100%;
  margin-bottom: 48px;
  overflow: hidden;
}

.post_textbox textarea::placeholder {
  font-size: 18px;
}

.post_textbox textarea::-webkit-resizer {
  display: none;
}

.post_textbox .hashtag {
  width: 100%;
  position: absolute;
  bottom: 5px;
  left: 5px;
}

.hashtag #hashtag {
  padding: 10px 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: var(--header-blue);
  font-size: 17px;
  font-weight: 550;
  cursor: pointer;
}

.post {
  width: 100%;
}

.post #post_btn {
  padding: 8px 15px;
  color: var(--global-white);
  background-color: var(--header-blue);
  font-size: 18px;
  font-weight: 550;
  width: 100%;
  border: 0;
  outline: 0;
  border-radius: 5px;
}

.post #post_btn:hover {
  background-color: #095bac;
  cursor: pointer;
  transition: all 0.23s ease;
}

/* MAIN POST CARDS */
.post_card {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px 25px;
  border-radius: 8px;
  background-color: var(--global-white);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.post_card_hd {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
  padding: 15px 0;
  border-bottom: 1px solid rgba(128, 128, 128, 0.123);
}

.post_card_hd p {
  font-size: 14px;
  font-weight: 400;
  color: var(--global-black);
}

.post_card_hd p #other_user {
  color: var(--global-black);
  cursor: pointer;
  font-weight: 600;
}

.post_user_info {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 10px;
}

.post_user_info img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  padding: 3px;
}

.post_user-name {
  width: 100%;
  margin-bottom: 15px;
}

.post_user-name h4 {
  font-weight: 550;
  font-size: 16px;
}

.post_user-name .user_role {
  font-size: 12px;
  font-weight: 400;
  color: var(--global-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.main_post_content {
  width: 100%;
  margin-bottom: 20px;
}

.main_post_content p {
  font-size: 15px;
  font-weight: 400;
  color: var(--global-black);
  margin-bottom: 15px;
  text-align: left;
  max-width: 600px;
}

.main_post_content p .post_hashtags {
  color: var(--header-blue);
  cursor: pointer;
}

.main_post_content-img {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  margin-bottom: 25px;
}

.main_post_content-img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  object-position: center;
  border-radius: 5px;
  padding: 3px;
}

.main_post_btns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main_post_btns button {
  padding: 8px 15px;
  color: var(--global-black);
  font-size: 14px;
  font-weight: 550;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  color: var(--header-blue);
}

.main_post_btns button i {
  margin-right: 8px;
}

.main_post_btns .post_btns_grp {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.post_btns_grp button {
  padding: 7px 10px;
  font-size: 14px;
  border: 0;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  color: var(--header-blue);
  font-weight: 550;
}

.comment_section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.comment_section .comment_hd {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 7px;
}

.comment_hd img {
  height: 40px;
  width: 40px;
  object-fit: contain;
  object-position: center;
  border-radius: 50%;
  padding: 5px;
}

.comment_input_box {
  height: 40px;
  width: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.comment_input_box input {
  width: 100%;
  height: 100%;
  border: 0;
  outline: 0;
  background-color: rgba(123, 123, 141, 0.075);
  padding: 0 10px;
  color: var(--global-black);
}

/* Media Queries */

/* Mobile Screens */
@media screen and (max-width: 468px) {
  .wrapper header {
    top: 0;
    z-index: 1;
    position: sticky;
    padding: 0 15px;
  }

  .wrapper header .left .logo h3 a {
    font-size: 18px;
  }

  main {
    padding: 0 10px;
    margin: 0;
  }

  .wrapper .right,
  .tabs_wrapper,
  .tabs_wrapper .tabs {
    display: none;
  }

  .left_user_card,
  .right_widget_card {
    display: none;
  }

  .middle_card {
    width: 100%;
  }

  /* TABS */

  .mobile_tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--global-white);
    overflow: hidden;
  }

  .mobile_tabs .mobile_tab {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    gap: 10px;
    height: 100%;
    /* max-width: 50%; */
  }

  .mobile_tab a {
    color: var(--global-black);
    display: flex;
    align-items: center;
    justify-content: center;
    border-width: 100%;
    width: 100%;
    /* position: relative;
    padding-bottom: 15px; */
    font-size: 12px;
    font-weight: 550;
  }

  .mobile_tab a:hover {
    color: var(--header-blue);
    transition: all 0.2s linear;
  }

  .mobile_tab a.active {
    border-bottom: 3px solid var(--header-blue);
    padding-bottom: 15px;
    color: var(--header-blue);
    font-weight: 600;
  }

  .mobile_tab a i {
    margin-right: 5px;
  }

  .middle_card {
    padding: 0;
  }

  .post_card {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--global-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .post_card_hd p {
    font-size: 11px;
  }

  .post_hd {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
    padding: 10px 8px;
  }

  .post_header_btns {
    width: 100%;
    padding: 3px 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
    overflow: hidden;
  }

  .post_header_btns button {
    padding: 9px 10px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
  }

  .form_hd h3 {
    font-size: 18px;
    font-weight: 540;
    color: rgba(22, 22, 22, 0.685);
  }

  .post_textbox textarea {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: var(--global-black);
    background-color: transparent;
    max-width: 100%;
    margin-bottom: 48px;
    overflow: hidden;
  }

  .post_textbox textarea::placeholder {
    font-size: 14px;
  }

  .user_name select {
    border-radius: 15px;
    padding: 4px 7px;
    text-align: left;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
  }

  select option {
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
  }

  .post_user_info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .post_user-name h4 {
    font-weight: 550;
    font-size: 14px;
  }

  .post_user-name .user_role {
    font-size: 10px;
    font-weight: 400;
    color: var(--global-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .main_post_content p {
    font-size: 13px;
    font-weight: 400;
    color: var(--global-black);
    margin-bottom: 15px;
    text-align: left;
    max-width: 600px;
  }

  .main_post_content-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    width: 100%;
    margin-bottom: 25px;
  }

  .main_post_content-img img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    padding: 3px;
  }

  .bottom_tabs_wrapper {
    position: relative;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
  }

  .bottom_tabs_wrapper .bottom_tabs {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    color: var(--header-blue);
  }

  .main_post_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .post_btns_grp button {
    padding: 7px 5px;
    font-size: 12px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    color: var(--header-blue);
    font-weight: 550;
  }

  .comment_hd img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    padding: 5px;
  }

  .comment_input_box {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .comment_input_box input {
    font-size: 13px;
  }
}

/* Tablet Screens */
@media screen and (max-width: 768px) {
  .wrapper header {
    top: 0;
    z-index: 1;
    position: sticky;
    padding: 0 15px;
  }

  .wrapper header .left .logo h3 a {
    font-size: 18px;
  }

  main {
    padding: 0 10px;
    margin: 0;
  }

  .wrapper .right,
  .wrapper .searchbox {
    display: none;
  }

  .right_widget_card {
    display: none;
  }

  .middle_card {
    width: 100%;
  }

  .tabs_wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--global-white);
  }

  .tabs_wrapper .tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
    gap: 30px;
    height: 100%;
    max-width: 80%;
  }

  .exclusive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 10px;
    gap: 10px;
    background-color: rgba(247, 247, 75, 0.322);
    border-radius: 5px;
    margin-top: 20px;
  }

  .middle_card {
    padding: 0;
  }

  .post_card {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--global-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .post_card_hd p {
    font-size: 11px;
  }

  .post_hd {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
    padding: 10px 8px;
  }

  .post_header_btns {
    width: 100%;
    padding: 3px 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
    overflow: hidden;
  }

  .post_header_btns button {
    padding: 9px 10px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
  }

  .form_hd h3 {
    font-size: 18px;
    font-weight: 540;
    color: rgba(22, 22, 22, 0.685);
  }

  .post_textbox textarea {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: var(--global-black);
    background-color: transparent;
    max-width: 100%;
    margin-bottom: 48px;
    overflow: hidden;
  }

  .post_textbox textarea::placeholder {
    font-size: 14px;
  }

  .user_name select {
    border-radius: 15px;
    padding: 4px 7px;
    text-align: left;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
  }

  select option {
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
  }

  .post_user_info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .post_user-name h4 {
    font-weight: 550;
    font-size: 14px;
  }

  .post_user-name .user_role {
    font-size: 10px;
    font-weight: 400;
    color: var(--global-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .main_post_content p {
    font-size: 13px;
    font-weight: 400;
    color: var(--global-black);
    margin-bottom: 15px;
    text-align: left;
    max-width: 600px;
  }

  .main_post_content-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    width: 100%;
    margin-bottom: 25px;
  }

  .main_post_content-img img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    padding: 3px;
  }

  .bottom_tabs_wrapper {
    position: relative;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
  }

  .bottom_tabs_wrapper .bottom_tabs {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    color: var(--header-blue);
  }

  .main_post_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .post_btns_grp button {
    padding: 7px 5px;
    font-size: 12px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    color: var(--header-blue);
    font-weight: 550;
  }

  .comment_hd img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    padding: 5px;
  }

  .comment_input_box {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .comment_input_box input {
    font-size: 13px;
  }
}

/* Laptop */
/* @media screen and (max-width: 1024px) {
  .wrapper header {
    top: 0;
    z-index: 1;
    position: sticky;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .wrapper header .left .logo h3 a {
    font-size: 18px;
  }

  .left .searchbox {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 550px;
    max-width: 730px;
    height: 35px;
    border-radius: 4px;
    padding: 3px 15px;
    background-color: var(--header-search-bg);
  }

  .searchbox #search_input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: 0;
    outline: 0;
    padding: 5px 5px;
    color: var(--global-white);
    font-size: 15px;
  }

  main {
    padding: 0 10px;
    margin: 0;
  }

  .middle_card {
    width: 100%;
  }

  .tabs_wrapper {
    position: relative;
    width: 100%;
  }

  .tabs_wrapper .tabs {
    display: none;
  }

  .exclusive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 20px;
    gap: 10px;
    background-color: rgba(247, 247, 75, 0.322);
    border-radius: 5px;
    margin-top: 20px;
  }

  .middle_card {
    padding: 0;
  }

  .post_card {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--global-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .post_card_hd p {
    font-size: 11px;
  }

  .post_hd {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
    padding: 10px 8px;
  }

  .post_header_btns {
    width: 100%;
    padding: 3px 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
    overflow: hidden;
  }

  .post_header_btns button {
    padding: 9px 10px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
  }

  .form_hd h3 {
    font-size: 18px;
    font-weight: 540;
    color: rgba(22, 22, 22, 0.685);
  }

  .post_textbox textarea {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: var(--global-black);
    background-color: transparent;
    max-width: 100%;
    margin-bottom: 48px;
    overflow: hidden;
  }

  .post_textbox textarea::placeholder {
    font-size: 14px;
  }

  .user_name select {
    border-radius: 15px;
    padding: 4px 7px;
    text-align: left;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
  }

  select option {
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
  }

  .post_user_info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .post_user-name h4 {
    font-weight: 550;
    font-size: 14px;
  }

  .post_user-name .user_role {
    font-size: 10px;
    font-weight: 400;
    color: var(--global-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .main_post_content p {
    font-size: 13px;
    font-weight: 400;
    color: var(--global-black);
    margin-bottom: 15px;
    text-align: left;
    max-width: 600px;
  }

  .main_post_content-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    width: 100%;
    margin-bottom: 25px;
  }

  .main_post_content-img img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    padding: 3px;
  }

  .bottom_tabs_wrapper {
    position: relative;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
  }

  .bottom_tabs_wrapper .bottom_tabs {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    color: var(--header-blue);
  }

  .main_post_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .post_btns_grp button {
    padding: 7px 5px;
    font-size: 12px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    color: var(--header-blue);
    font-weight: 550;
  }

  .comment_hd img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    padding: 5px;
  }

  .comment_input_box {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .comment_input_box input {
    font-size: 13px;
  }
} */

/* Large Screens */
/* @media screen and (min-width: 1440px) {
  .wrapper header {
    top: 0;
    z-index: 1;
    position: sticky;
    padding: 0 15px;
  }

  .wrapper header .left .logo h3 a {
    font-size: 18px;
  }

  main {
    padding: 0 30px;
    margin: 0;
  }

  .middle_card {
    width: 100%;
  }

  .tabs_wrapper {
    position: relative;
    width: 100%;
  }

  .tabs_wrapper .tabs {
    display: none;
  }

  .exclusive {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 15px 20px;
    gap: 10px;
    background-color: rgba(247, 247, 75, 0.322);
    border-radius: 5px;
    margin-top: 20px;
  }

  .middle_card {
    padding: 0;
  }

  .post_card {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: var(--global-white);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }

  .post_card_hd p {
    font-size: 11px;
  }

  .post_hd {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    gap: 8px;
    padding: 10px 8px;
  }

  .post_header_btns {
    width: 100%;
    padding: 3px 5px;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    gap: 5px;
    overflow: hidden;
  }

  .post_header_btns button {
    padding: 9px 10px;
    border: 0;
    outline: 0;
    background-color: transparent;
    font-size: 12px;
  }

  .form_hd h3 {
    font-size: 18px;
    font-weight: 540;
    color: rgba(22, 22, 22, 0.685);
  }

  .post_textbox textarea {
    width: 100%;
    border: 0;
    outline: 0;
    font-size: 15px;
    color: var(--global-black);
    background-color: transparent;
    max-width: 100%;
    margin-bottom: 48px;
    overflow: hidden;
  }

  .post_textbox textarea::placeholder {
    font-size: 14px;
  }

  .user_name select {
    border-radius: 15px;
    padding: 4px 7px;
    text-align: left;
    outline: 0;
    cursor: pointer;
    background-color: transparent;
  }

  select option {
    padding: 10px;
    font-size: 10px;
    border-radius: 5px;
  }

  .post_user_info {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .post_user-name h4 {
    font-weight: 550;
    font-size: 14px;
  }

  .post_user-name .user_role {
    font-size: 10px;
    font-weight: 400;
    color: var(--global-black);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .main_post_content p {
    font-size: 13px;
    font-weight: 400;
    color: var(--global-black);
    margin-bottom: 15px;
    text-align: left;
    max-width: 600px;
  }

  .main_post_content-img {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
    width: 100%;
    margin-bottom: 25px;
  }

  .main_post_content-img img {
    width: 100%;
    height: 120px;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    padding: 3px;
  }

  .bottom_tabs_wrapper {
    position: relative;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
  }

  .bottom_tabs_wrapper .bottom_tabs {
    position: absolute;
    bottom: 500px;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 20px;
    color: var(--header-blue);
  }

  .main_post_btns {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  .post_btns_grp button {
    padding: 7px 5px;
    font-size: 12px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    cursor: pointer;
    color: var(--header-blue);
    font-weight: 550;
  }

  .comment_hd img {
    height: 30px;
    width: 30px;
    object-fit: contain;
    object-position: center;
    border-radius: 50%;
    padding: 5px;
  }

  .comment_input_box {
    height: 30px;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;
  }

  .comment_input_box input {
    font-size: 13px;
  }
} */
